* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 24px;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}

nav {
    display: flex;
    gap:20px;
}