.input {
    font-size: calc(var(--font-size-xl));
    padding: var(--spacing-sm);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--color-border);
    width: 500px;
}

.input:focus {
    box-shadow: var(--shadow-md);
    border: 1px solid var(--color-primary);
}

.container {
    gap: var(--spacing-sm);
}

.button {
    background-color: var(--color-primary);
    border: 1px solid var(--color-bg-primary);
    border-radius: var(--radius-md);
    padding: var(--spacing-md) var(--spacing-xl);
    color:aliceblue;
}